<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration debug="true">
    <!--In the property values you need to escape back slash -->
    <!--be very careful with the regex that you add, expensive regex (greedy ones) can bring down perf-->
    <property scope="context" name="mdcPattern" value="%replace([xIP:%X{req.xForwardedFor} | uAgent:%X{req.userAgent}] [transactionId:%X{transactionId} | method:%X{req.method} | URI:%X{req.requestURI} | query:%X{req.queryString}])" />
    <property name="auditPattern" value="%d ${mdcPattern} : %msg%n"/>
    <property name="sensitiveDataPattern" value="(\\bAuthorization:)(.+)\\|(\\bmfa_token=)(\\d*)"/>
    <property name="defaultPattern" value="%d ${mdcPattern} %thread %-5level %logger{25} - %C{0}.%M\\(\\) : %msg%n"/>
    <property name="LOG_PATH" value="/opt/apigee/var/log/apigee-sso" />
    <property name="LOG_FILE_SYSTEM" value="${LOG_PATH}/apigee-sso-system.log" />
    <property name="LOG_FILE_AUDIT" value="${LOG_PATH}/apigee-sso-audit.log" />
    <property name="LOG_LEVEL" value="INFO" />
    <property name="NON_UAA_LOG_LEVEL" value="WARN" />
    <appender name="SYSTEM-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${LOG_FILE_SYSTEM}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/system-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- keep max of 10 days -->
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.apigee.identity.uaa.logging.MaskPatternLayout">
                <patternsProperty>${sensitiveDataPattern}</patternsProperty>
                <pattern>${defaultPattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="AUDIT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${LOG_FILE_AUDIT}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/audit-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- keep max of 10 days -->
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.apigee.identity.uaa.logging.MaskPatternLayout">
                <patternsProperty>${sensitiveDataPattern}</patternsProperty>
                <pattern>${auditPattern}</pattern>
            </layout>
        </encoder>
    </appender>
    <logger name="org.springframework.aop.aspectj.AspectJExpressionPointcut" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.beans.factory.support.DisposableBeanAdapter" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="${NON_UAA_LOG_LEVEL}"/>>
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.beans.factory.xml" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.security.config.http.FilterInvocationSecurityMetadataSourceParser" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.security" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.security.oauth2.client.test.OAuth2ContextSetup" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.security.config.http.HttpSecurityBeanDefinitionParser" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.jmx.exportMBeanExporter" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.aop.framework" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.jmx.export.annotation" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.web" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.retry" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.springframework.jdbc.datasource" level="${NON_UAA_LOG_LEVEL}"/>
    <logger name="org.cloudfoundry.identity.uaa.security.web.SecurityFilterChainPostProcessor" level="${LOG_LEVEL}"/>
    <logger name="org.cloudfoundry.identity" level="${LOG_LEVEL}"/>
    <logger name="UAA.Audit" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="AUDIT-FILE"/>
    </logger>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="SYSTEM-FILE"/>
    </root>
</configuration>
